<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e332a6dc-a654-4a0f-95e6-1185d4acb444/resourcegroups/UbgApiv420180524061045ResourceGroup/providers/Microsoft.Web/sites/UbgApiv420180609042104</ResourceId>
    <ResourceGroup>UbgApiv420180524061045ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ubgapiv420180609042104.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ubgapiv420180609042104.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>UbgApiv420180609042104</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$UbgApiv420180609042104</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Ubg_Api_v4Context" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:ubgapiv420180609042104dbserver.database.windows.net,1433;Initial Catalog=UbgApiv420180609042104_db;User ID=davidrue@ubgapiv420180609042104dbserver;Password=hans0000!" Name="Data Source=tcp:ubgapiv420180609042104dbserver.database.windows.net,1433;Initial Catalog=UbgApiv420180609042104_db;User Id=davidrue@ubgapiv420180609042104dbserver;Password=hans0000!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Ubg_Api_v4.Models.Ubg_Api_v4Context, Ubg_Api_v4" MigrationConfiguration="Ubg_Api_v4.Migrations.Configuration, Ubg_Api_v4" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Ubg_Api_v4Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ubgapiv420180609042104dbserver.database.windows.net,1433;Initial Catalog=UbgApiv420180609042104_db;User Id=davidrue@ubgapiv420180609042104dbserver;Password=hans0000!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>